.search_top {
  height: 1.859375rem;
  width: 10rem;
  position: relative;
}
.search_top input {
  width: 9.375rem;
  height: .9375rem;
  background: url('../../img/search_inco.jpg') no-repeat;
  background-size: .390625rem .390625rem;
  background-position: .25rem .25rem;
  background-color: #ebecec;
  border-radius: .46875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  outline: none;
  padding-left: .96875rem;
  padding-right: .25rem;
  box-sizing: border-box;
  -webkit-appearance: none;
}
.search_top input::-webkit-search-cancel-button {
  display: none;
}
.search_top i {
  width: .4375rem;
  height: .4375rem;
  background: url('../../img/search_d.jpg') no-repeat;
  background-size: .4375rem .4375rem ;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: .5625rem;
  display: none;
}
.search_top .reset {
  display: block;
}
.hot_search {
  height: 1.171875rem;
  font-size: .34375rem;
  color: #666;
  line-height: 1.171875rem;
  padding-left: .3125rem;
  border-top: .015625rem solid #e3e4e5;
}
.hot_tag li {
  height: .96875rem;
  border: .015625rem solid #d3d4da;
  display: inline-block;
  color: #333;
  font-size: .40625rem;
  line-height: .96875rem;
  padding: 0 .4375rem;
  border-radius: .78125rem;
  margin-bottom: .15625rem;
  margin-right: .25rem;
}
.hot_search_none {
  display: none;
}
.search_list {
  font-size: .375rem;
  color: #666;
}
.search_list p {
  padding-left: .3125rem;
}
.search_list_none {
  display: none;
}
